*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.content-question {
  background: rgb(195, 246, 246);
  display: none;
  flex-direction: column;
}


.btn-option {
    border: 3px solid blue;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px;
}
.btn-active {
    background-color: #0d6efd;
    color: white;
}
.btnConfirmOff {
    background-color: lightgray;
    font-weight: bold;
    font-size: 25px;
    color: gray;
}
.btnConfirmOff:hover {
    color: gray;
}

.btnConfirmOn {
    background-color: #42b522;
    color: #318519;
}
.btnConfirmOn:hover {
    color: #215313;
}

.response-question {
    margin: 15px 0;
    padding: 10px;
    display: none;
}
.number-question{
    color:#0d6efd;
}
.text-result{
    font-weight: bold;
}
.result_content {
    display: none;
}